/* mobile.css */

body {
    background-image: url(../imges/soul_movi.jpg);
    background-size: cover;
  }
 #main_header > .text_box {
    position: absolute;
    left:10%; right: 10%;
    margin: 0 auto;
    outline: 2px solid white;
    text-align: center;
  }

  /* 시놉시스 팝업 */
  #synop_popup {
    position: fixed;
    width: 80%;
    height: 45%;
    overflow: scroll;
    background:#080D21;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    padding-top: 60px;
    display: none;
  }

  #synop_popup > p {
    text-align: center;
    font-size: 12px;
  }