/* sub.css */

/* 배경 초기화 */
body {
    background: #000
    
  }
#clip #main_header {
    position: relative;
    width: 100%;
    background: #000;
    height: 100px;
  }
#clip .header_box {
    display: none;
  }  
#clip #main {
    position: relative;
 }
#clip #main iframe {
    width: 100%;
    /* header, footer 공간을 제외한 영상 영역 */
    height: calc(100vh - 200px);
    background: #abc;
   /* border: 2px solid green;*/
    display: block;

  }  

 /* 갤러리 */
#gallery #main_header {
    position: relative;
    width: 100%;
    background: #000;
    height: 100px;  
  }
#gallery #main figure {
    max-width: 1000px;
    /* outline: 2px solid red; */
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
  }
#gallery #main figure img {
    width: 100%;
  }
#gallery #main ul {
    /* outline: 2px solid green; */
    max-width: 1000px;
    margin: 0 auto;
  }
  
#gallery #main ul li {
    width: calc(100% / 6);
    float: left;
    /* outline: 2px solid red; */
    border: 1px solid #000;
    overflow: hidden;
  }
  
#gallery #main ul li:hover {
    border: 4px solid #9270f0;
  }
  
#gallery #main ul li a img{
    width: 100%;
    display: block;
  }